body{
    background-color: bisque;
    margin: auto;
    height: 100%;
    border-radius: 20px;

}
h1{
    text-align: center;
    color: black;
    padding-top: 15px;
}
html{
    background-color: white;
}
.show_List_todo{
    width: 90%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.show_data{
    width: 80%;
        word-wrap: break-word;
        margin: 10px;
}
.delete_button_style{
    width: 70px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: bisque;
    border-radius: 20px;
    align-self: center;
}
.delete_button_style:hover{
    background-color: #E3242B;
}
.text_box_and_save{
    justify-content: center;
   width: auto;
    align-self: center;
    text-align: center;
}
.save_button_style{
    width: 70px;
    height: 25px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: bisque;
    border-radius: 20px;
    align-self: center;
    margin-right: 10px;
}
.save_button_style:hover{
    background-color: green;
}
.edit_button_style{
    width: 70px;
    height: 25px;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: bisque;
    border-radius: 20px;
    align-self: center;
    margin-right: 10px;
}
.edit_button_style:hover{
    background-color: blueviolet;
}
.text_box{
    width: auto;
    min-width: 300px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.mark_as_done{
        height: 25px;
        width: 25px;
        background-color: #eee;
        align-self: center;  
    }
    .above_category{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .category{
        width: 15%;
        margin-left: 25px;
    }
    .category_list{
    border: solid;
    width: 80%;
    min-width: 200px;
    min-height: 25px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid;
    background-color: antiquewhite;
}
.category_list:hover{
    background-color: aliceblue;
}
.priority{
    width: 90%;margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid;
    border-radius: 20px;
    padding-top: 0;
}
input:invalid {
    border: 1px solid red;
  }
  .tag_box{
    min-width: 100px;
    min-height: 20px;
    
  }
  .tags_style{
    word-wrap: break-word;
  }
  .subtask{
    min-height: 200px;
    background-color: yellow;
    padding-left: 20px;
  }
  .activelogs_backlogs{
    min-width: 25%;
    display: flex;
    flex-direction: column;
  }
  #back_logs_missed{
    color: red;
  }